body {
  background: #ffffff;
  margin: 0;
}
body header {
  background-color: darkblue;
  padding: 20px;
}
body header h1 {
  display: block;
  color: #ffffff;
  margin: 0;
  padding-left: 20%;
}

.banner {
  background-image: url("../img/background.jpg");
  padding: 100px;
}
.banner h1 {
  margin: 0;
  text-align: center;
  color: #ffffff;
  text-shadow: 3px 3px 3px black;
}

.container {
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
}

.container-form {
  float: left;
  padding: 50px;
  text-align: left;
  background-color: #f2f2f2;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  height: 200px;
}

/*# sourceMappingURL=style.css.map */
